.carousel img {
    width: 100%
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0px;
    color: #fff;
    text-align: left;
    padding-left: 2%;
}
.carousel-caption h3 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 6px !important;
    text-align: left;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.9);
}
.carousel-caption p {
    margin-top: 0;
    font-size: 14px;
    text-align: left;
}
.carousel-control {
    width:
    /*15%*/

    8%
}
.carousel-indicators {
    bottom: 2px
}
.carousel-indicators .active {
    background: #FDF7DE
}
/**arrows**/

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 25px;
    height: 25px;
    font-size: 25px;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
/*WHAT'S NEW IN BS 3.3: Added transforms to improve carousel performance in modern browsers. now override the 3.3 new styles for modern browsers & apply opacity*/

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
