.row{
  opacity: 0;
}
.animated{
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.row.productImage{
  opacity: 1;
}

body{
  padding-top: 0px;
}

h1 .logoImage{
  max-height: 2em;
}

h1{
  font-size: 2em;
}
