{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ storyboard.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!--animate css-->
    <link href="{% static "bower_components/animate.css/animate.css" %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static "assets/css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/carousel.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/portfolio.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">
        <!-- Portfolio Item Row -->
        <h1 class="animated fadeInDown">
          <img class="logoImage" title="" alt="" src="{{ storyboard.logo }}">
        {{ storyboard.title }}</h1>
        <div class="row">

            <div class="col-md-8">
              <!--begin Bootstrap Carousel-->
               <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                     <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>
                  <!-- Wrapper for items and captions -->
                  <div class="carousel-inner" role="listbox">
                      {% for obj in dropzone3.data %}
                      {% if forloop.first %}
                     <div class="item active">
                      {% else %}
                      <div class="item">
                      {% endif %}
                        <img src="{{ obj.url }}" alt="..." width={{ obj.width }}>
                        <div class="carousel-caption">
                           <h3>Image 1</h3>
                           <p>Details....</p>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                  <!--end carousel-->
            </div>
          </div>

            <div class="col-md-4">
                <h3>{{ dropzone1.data.0.data }}</h3>
                <p>{{ dropzone2.data.0.data }}</p>
                <h3>Contact Details</h3>
                <p><a href="#" id="popover" data-trigger="hover" data-toggle="popover" data-title="{{ dropzone5.data.0.objectType }}" data-content="{{ dropzone5.data.0.data }}">{{ dropzone5.data.0.data }}</a></p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            {% for obj in dropzone4.data %}
            <div class="col-sm-3 col-xs-6 productImage">
                <a href="#">
                    <img class="img-responsive img-hover img-related" src="{{ obj.url }}" alt="">
                </a>
            </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <script src="{% static "assets/js/portfolio.js" %}"></script>

</body>

</html>
