{% extends 'internal/layout.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Share
                <small>Share the experience privately or publicly</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Web</a></li>
        <li><a href="#">Vr / 3d</a></li>
      </ul>
      <div class="tabcontent">
          <iframe class="col-lg-12 dotted-border preview-content" src="{{ storyboard.get_absolute_url }}">You need an iframe capable browser</iframe>
          <div class="col-lg-6">
            <div class="secondary-content">
              <h6 class="inline-title copy-zone">
                <a href="{{ storyboard.get_absolute_url }}">{{ storyboard.get_absolute_url }}</a>
              </h6>
              <br>
              <span>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </span>
            </div>
            <form method="POST" action="{% url 'storyboard_url:publish_wizard_view' sid=storyboard.guid %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Share privately</label>
                    <input type="text" class="form-control" id="emails" name="emails">
                </div>
                <div class="form-group">
                    <label>Add a personal message</label>
                    <textarea class="form-control" id="email_message" name="email_message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
      </div>
    </div>
    <!-- Projects Row -->

</div>
{% endblock %}
