{% extends 'internal/layout.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Step 1
                    <small>Choose Experience Template</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <div class="row">
            {% for exp_templ in object_list %}
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="{{ exp_templ.thumbnail }}" alt="">
                </a>
                <h3>
                    <a href="{% url 'storyboard_url:experience_wizard_view' %}?tid={{ exp_templ.guid }}">{{ exp_templ.name }}</a>
                </h3>
                <p>{{ exp_templ.description }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
{% endblock %}
