{% extends 'internal/layout.html' %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Step 2
                <small>Customize Experience With Details</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->

    <div class="row">
        <div class="col-md-6">
            <form role="form" method="POST" action="{% url 'storyboard_url:experience_wizard_view' %}?tid={{ experience_template.guid }}">
                {% csrf_token %}

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>

                <div class="form-group">
                    <label>Logo</label>
                    <input type="text" class="form-control" id="logo" name="logo">
                </div>

                {% for dzname,dzmeta in template_meta.dropzones.items %}
                  <div class="form-group">
                      {% if dzmeta.dropzoneType == 'IMAGE' %}
                          <label>{{ dzmeta.meta.name }}</label>
                          <input type="text" class="form-control" id="{{ dzname }}" name="{{ dzname }}">
                      {% elif dzmeta.dropzoneType == 'TEXT' %}
                          <label>{{ dzmeta.meta.name }}</label>
                          <input type="text" class="form-control" id="{{ dzname }}" name="{{ dzname }}">
                      {% elif dzmeta.dropzoneType == 'VIDEO' %}
                          <label>{{ dzmeta.meta.name }}</label>
                          <input type="text" class="form-control" id="{{ dzname }}" name="{{ dzname }}">
                      {% elif dzmeta.dropzoneType == 'IMAGE-GROUP' %}
                          <label>{{ dzmeta.meta.name }}</label>
                          <textarea class="form-control" id="{{ dzname }}" name="{{ dzname }}"></textarea>
                      {% elif dzmeta.dropzoneType == 'VIDEO-GROUP' %}
                          <label>{{ dzmeta.meta.name }}</label>
                          <textarea class="form-control" id="{{ dzname }}" name="{{ dzname }}"></textarea>
                      {% endif %}
                  </div>
                {% endfor %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-md-6 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="{{ experience_template.thumbnail }}" alt="">
            </a>
            <h3>
                {{ experience_template.name }}
            </h3>
            <p>{{ experience_template.description }}</p>
        </div>
    </div>

</div>

{% endblock %}
