{% extends 'internal/layout.html' %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Browse
                    <small>All the showcases you have created</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <div class="row">
            {% for sb in object_list %}
            <div class="col-md-6 portfolio-item">
                <a href="{{ sb.get_absolute_url }}">
                    <img class="img-responsive" src="{{ sb.experience_template.thumbnail }}" alt="">
                </a>
                <h3>
                    <a href="{% url 'storyboard_url:render_storyboard_web' csb_guid=sb.guid %}">{{ sb.name }}</a>
                </h3>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->


{% endblock %}
