{
    "meta": {
        "title": "{{ title }}",
        "logo": "{{ logoUrl }}",
        "baseColor": "{{ baseColor }}",
        "templateId": "{{ templateId }}",
        "storyboardId": "{{ storyboardId }}",
        "storyboardType": "STANDARD"
    }
    "objects": [
        {
            "objectId": "{{ objectId }}",
            "objectType": "TEXT"
            "text": "{{ text }}",
        },
        {
            "objectId": "{{ objectId }}",
            "objectType": "IMAGE",
            "url": "{{ url }}",
            "thumbnail": "{{ thumbnail }}",
            "width": "{{ width }}",
            "height": "{{ height }}"
        },
        {
            "objectId": "{{ objectId }}",
            "objectType": "VIDEO",
            "url": "{{ url }}",
            "thumbnail": "{{ thumbnail }}",
            "width": "{{ width }}",
            "height": "{{ height }}",
            "autoplay": {{ autoplay }}
        },
        {
            "objectId": "{{ objectId }}",
            "objectType": "FEED",
            "feedUrl": "{{ feedUrl }}",
            "thumbnail": "{{ thumbnail }}",
            "feedTitle": "{{ feedTitle }}",
            "feedDescription": "{{ feedDescription }}"
        }
    ]
}
