{
  "main":{
    "baseColor": "{{ baseColor }}",
    "title": "{{ title }}",
    "logo": "{{ logoUrl }}",
    "tagline": "{{ tagline }}",
    "templateType":"STORE",
    "templateId": "{{ templateId }}"
  },
"feeds":[{
    "objectId":1,
    "url":"https://www.knowlarity.com/blog/feed/",
    "type":"FEED"
  }
],
"images":[{
  "objectId":2,
  "url":"https://www.knowlarity.com/wp-content/uploads/2016/02/banner-sr1.png",
  "type":"IMAGE"
  },
  {
    "objectId":3,
    "url":"https://www.knowlarity.com/wp-content/uploads/2016/01/knowlarity-broadcast.png",
    "type":"IMAGE"
  },
  {
    "objectId":4,
    "url":"https://www.knowlarity.com/wp-content/uploads/2015/03/Miss-Dial.png",
    "type":"IMAGE"
}],
"sections":{
  "products":[{
      "objectId":3,
      "title":" Super Receptionist",
      "desc":"Your plug-and-play virtual contact center",
      "url":"https://www.knowlarity.com/sr/",
      "image":"https://www.knowlarity.com/wp-content/uploads/2016/02/banner-sr1.png",
      "type":"DESC_ITEM",
      "buyUrl":"http://xyz.com"
    }],
  "team":[{
      "objectId":4,
      "title":"Ambarish Gupta",
      "desc":"CEO",
      "url":"https://twitter.com/ambarishKnow",
      "image":"https://pbs.twimg.com/profile_images/442576746311720961/0AiIf0kt.jpeg",
      "type":"DESC_ITEM"
    }],
  "testimonials":[{
    "objectId":5,
    "title":"Soum Paul",
    "desc":"hacker",
    "url":"http://viewfieldlabs.com",
    "image":"https://pbs.twimg.com/profile_images/726633824830910465/TqL7sNiN.jpg",
    "type":"DESC_ITEM"
  }]
}
}
