footer{
  background-color: transparent;
}

.bgImage{
  background-image: url('../img/bg_2.jpg');
  background-position: center center;;
  background-repeat: no-repeat;
  background-size: cover;
}

html,body{
  width: 100%;
  height:100%;
}

.positionMe{
  position:relative;;
  top: 60px
}


.registration-panel{
  width:600px;
  position: relative;
  left:-30%;
}

.tabcontent{
  padding:10px;
  margin-left: 10px;
  margin-left:10px;
}

.dotted-border{
  border: 1px dotted grey;
    margin:20px
}

.preview-content{
  /*width:800px;*/
  height:600px;
  background-color: #eee;
  display:inline-block;
  float:left;
}

.secondary-content{
  display:inline-block;
  float:left;
  margin-top: 10px;
}

.inline-title{
  display: inline-block;
}

.copy-zone{
  background-color: #eee;
  border: 1px dotted grey;
  padding:10px;
  width:100%;
}
