{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="{% static "img/favicon.ico" %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>sixthdot: media engagement, discovery and tracking platform for brands.</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "css/landing-page.css" %}" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" />

    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="http://www.creative-tim.com">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="{% static "img/new_logo.png" %}" alt="Creative Tim Logo">
                            </div>
                            <div class="brand">
                                sixthdot
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'customer_url:login_view' %}">
                            Login
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'customer_url:signup_view' %}">
                            Signup
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            Help
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="{% static "img/bg/bg.jpg" %}">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-6" align='right'>
                            <div class="description">
                                <h2>FOR MARKETERS, PR PROS AND BRANDS</h2>
                                <br>
                                <h5>Discover and connect with media. Spread your story. Get the right coverage.</h5>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-fill btn-primary">
                                <i class="fa fa-chevron-circle-right"></i> REQUEST EARLY ACCESS
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="description">
                                <h2>FOR JOURNALISTS AND MEDIA HOUSES.</h2>
                                <br>
                                <h5>Discover news before it breaks. Stay on top of the pulse. Streamline your workflow.</h5>
                            </div>
                            <div class="buttons">
                                <button class="btn btn-fill btn-success">
                                <i class="fa fa-newspaper-o"></i> CREATE FREE PROFILE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">FOR MARKETERS, PR PROS AND BRANDS.</h4>
                    <p>
                        Find the right media houses or journalists based on geography, language and affinity. Send a tip or pitch your press release to the right channel. Create and organize medialists, and build deep relationship with media.<br>
                    </p>
                    <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img src="{% static "img/logos/adobe.png" %}" /></li>
                            <li ><img src="{% static "img/logos/zendesk.png" %}"/></li>
                            <li ><img src="{% static "img/logos/ebay.png" %}"/></i>
                            <li ><img src="{% static "img/logos/evernote.png" %}"/></li>
                            <li ><img src="{% static "img/logos/airbnb.png" %}"/></li>
                            <li ><img src="{% static "img/logos/zappos.png" %}"/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description">
                                <h4 class="header-text">DISCOVER JOURNALISTS</h4>
                                <p>And your app is also probably social, awesome, easy-to-use and vital to users. This is the place to enlist all the good things that your app has to share. Focus on the benefits that the uers will receive. Try to combine imaginery with text and show meaningful printscreens from your app, that will make it clear what exactly the basic functions are. </p>
                                <p>Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.
                                <p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <img src="{% static "img/template/mac.png" %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="description-carousel" class="carousel fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="{% static "img/template/examples/home_33.jpg" %}" alt="">
                                    </div>
                                    <div class="item active">
                                        <img src="{% static "img/template/examples/home_22.jpg" %}" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="{% static "img/template/examples/home_11.jpg" %}" alt="">
                                    </div>
                                </div>
                                <ol class="carousel-indicators carousel-indicators-blue">
                                    <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">SPREAD YOUR STORY</h4>
                            <p>
                                With all the apps that users love! Make it easy for users to share, like, post and tweet their favourite things from the app. Be sure to let users know they continue to remain connected while using your app!
                            </p>
                            <a href="http://www.creative-tim.com/product/awesome-landing-page" id="Demo3" class="btn btn-fill btn-info" data-button="info">Get Free Demo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description">
                                <h4 class="header-text">DEEP TRACK MEDIA</h4>
                                <p>And your app is also probably social, awesome, easy-to-use and vital to users. This is the place to enlist all the good things that your app has to share. Focus on the benefits that the uers will receive. Try to combine imaginery with text and show meaningful printscreens from your app, that will make it clear what exactly the basic functions are. </p>
                                <p>Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.
                                <p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <img src="{% static "img/template/mac.png" %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">FOR JOURNALISTS AND MEDIA HOUSES.</h4>
                    <p>
                        Find the right media houses or journalists based on geography, language and affinity. Send a tip or pitch your press release to the right channel. Create and organize medialists, and build deep relationship with media.<br>
                    </p>
                    <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img src="{% static "img/logos/adobe.png" %}"/></li>
                            <li ><img src="{% static "img/logos/zendesk.png" %}"/></li>
                            <li ><img src="{% static "img/logos/ebay.png" %}"/></i>
                            <li ><img src="{% static "img/logos/evernote.png" %}"/></li>
                            <li ><img src="{% static "img/logos/airbnb.png" %}"/></li>
                            <li ><img src="{% static "img/logos/zappos.png" %}"/></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Features</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-note2"></i>
                                </div>
                                <div class="text">
                                    <h4>Online Customers Management</h4>
                                    <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-bell"></i>
                                </div>
                                <h4>Smart Notifications on hands</h4>
                                <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-graph1"></i>
                                </div>
                                <h4>Know your business better now</h4>
                                <p>Take payments and run your business on the go, in your store and then see how it all adds up with analytics.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container">
                    <h4 class="header-text text-center">What people think</h4>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <div class="mask">
                                    <img src="{% static "img/faces/face-4.jpg" %}">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Jay Z, Producer</p>
                                    <h3>"I absolutely love your app! It's truly amazing and looks awesome!"</h3>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="mask">
                                    <img src="{% static "img/faces/face-3.jpg" %}">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Drake, Artist</p>
                                    <h3>"This is one of the most awesome apps I've ever seen! Wish you luck Creative Tim!"</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask">
                                    <img src="{% static "img/faces/face-2.jpg" %}">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Rick Ross, Musician</p>
                                    <h3>"Loving this! Just picked it up the other day. Thank you for the work you put into this."</h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-blue">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="{% static "img/template/bg3.jpg" %}"/>
                    </div>
                    <div class="info">
                        <h1>Download this landing page for free!</h1>
                        <p>Beautiful multipurpose bootstrap landing page.</p>
                        <a href="http://www.creative-tim.com/product/awesome-landing-page" class="btn btn-neutral btn-lg btn-fill">DOWNLOAD</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love
                    </div>
                </div>
            </footer>
        </div>

    </body>
    <script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "js/awesome-landing-page.js" %}" type="text/javascript"></script>
</html>
