{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Choose Experience Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static "css/2-col-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/custom-sagar.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bgImage">

    {% block content %}

    {% endblock %}

    <div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">

    		<div class="panel panel-inverse positionMe">
          <div class="panel-heading">
            <h6>Sixth<strong>dot</strong> Login</h6>
          </div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-inverse btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
                      <hr/>
                <center><h4>OR</h4></center>
                <a class="btn btn-lg  btn-primary btn-facebook btn-block" type="submit" value="Register" href="{% url 'customer_url:signup_view' %}">Signup</a>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- /.container -->

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
