{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Choose Experience Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static "css/2-col-portfolio.css" %}" rel="stylesheet">
    <link href="{% static "css/custom-sagar.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bgImage">

    {% block content %}

    {% endblock %}

    <div class="container">
     <div class="row">
        <div class="col-md-4 col-md-offset-4">
           <div class="panel panel-inverse registration-panel">
              <div class="panel-heading">
                 <h6>Sixth<strong>dot</strong> Registration</h6>
              </div>
              <div class="panel-body">
                 <form accept-charset="UTF-8" role="form">
                    <fieldset>
                       <div class="form-group">
                         <label class="form">Work Email</label>
                          <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
                       </div>
                       <div class="form-group">
                         <label class="form">Full Name</label>
                          <input class="form-control" placeholder="Name" name="password" type="text" value="">
                       </div>

                       <div class="form-group">
                         <label class="form">Password</label>
                          <input class="form-control" placeholder="Password" name="password" type="password" value="">
                       </div>

                       <div class="form-group">
                         <label class="form">Your Designation</label>
                         <select class="form-control select select-primary">
                             <option value="0">Partner</option>
                             <option value="1">My Friends</option>
                          </select>
                       </div>

                       <div class="form-group">
                         <label class="form">Phone Number</label>
                          <input class="form-control" placeholder="#" name="password" type="number" value="">
                       </div>

                       <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
                    </fieldset>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>

<!-- /.container -->

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
